
@import "~bootstrap/less/variables.less";
@import "varibles.less";

.Plate {
	.demo-section-title {
		text-align: center;
	}
	.Lemon {

		padding: 10px;
		border-right: 1px solid @color-wet-asphalt;

		.main {
			.title {
				padding: 5px;
			}
			.content {
				max-height: 600px;
				padding: 5px;
				overflow-y: scroll;

				.lemon {
					margin: 0;
					padding-bottom: 15px;
				}
			}
		}
	}

	.Lemonade {
		padding: 10px;
		// border-left: 1px solid @color-wet-asphalt;

		.main {
			height: 685px;
			padding: 5px;

			.title {
				background-color: #ffffff;
				padding: 5px;

				// Override the font-size within .title
				p {
					font-size: 29px !important;
				}
			}

			.author {
				color: @color-silver;
				font-size: 14px;
			}

			.translator {
				max-height: 34px;
				color: @color-silver;
				font-size: 14px;
				padding: 5px;
				background-color: #ffffff;

				p {
					font-size: 14px !important;
				}
			}
			.content {
				// background-color: #ffffff;
				position: relative;
				margin-top: 10px;
				height: 510px;
				overflow: hidden;

				.scroll {
					position: absolute;
					width: 100%;
					top: 0px;
					left: 0px;
					.lemonade {
						margin: 10px 0px;
						border-top: 2px solid @color-peter-river;
						border-bottom: 2px solid @color-peter-river;
						height: 200px;
						background-color: #ffffff;
						overflow-y: auto;

						&.selected {
							border: 1px solid @color-sun-flower;
						}

					}

					&.scroll-enter {
						opacity: 0;
						transition: opacity .5s ease-in;
						
						&.scroll-enter-active {
							opacity: 1;
						}

					}

					&.scroll-leave {
						opacity: 1;

						&.scroll-leave-active {
							opacity: 0;
						}
					}
				}
			}
		}
		.source {
			padding-top: 10px;
			color: @color-silver;
			font-size: 13px;
		}
	}
}

@media (max-width: @screen-md-min) {
	.Plate {
		.Lemon {
			border-right: none;
			border-bottom: 1px solid @color-wet-asphalt;
		}

		.Lemonade {
			border-left: none;
			border-top: 1px solid @color-wet-asphalt;
		}
	}	
}